@yellow: #e8c300;
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oranienbaum', serif;
  text-transform: uppercase;
  margin: 0;
}
p {
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}


 /* Header */

.header {
  height: 800px;
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-top: 42px;
    font-size: 12px;
    transition: color 0.2s;
  }
  a:hover {
    color: @yellow;
  }
  a:active {
    color: #ba9f0c;
  }
  .header-logo {
    margin-top: 25px;
    margin-right: 10px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    .nav-first, .nav-second {
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      max-height: 99px;
    }
    .nav-first a {
        margin-left: 49px;
        margin-right: 43px;
    }
    .nav-second a{
        margin-right: 39px;
        margin-left: 46px;
    }
  }

  .header-main {
    display: flex;
    padding-top: 150px;
    height: 250px;
    .work-schedule {
      font-size: 12px;
      line-height: 12px;
      transform: rotate(-90deg);
      text-transform: none;
    }
    .header-middle {
      text-align: center;
      margin-left: 57px;
      margin-top: 1px;
      position: relative;
      .pre-title {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5em;
      }
      .title {
        font-size: 96px;
        line-height: 84px;
        letter-spacing: 3px;
        margin-top: 24px;
        margin-bottom: 62px;
        position: relative;
      }
      .title::after {
        content: "";
        width: 60px;
        height: 5px;
        background-color: @yellow;
        border-radius: 50px;
        position: absolute;
        top: 111px;
        left: 300px;
      }
      .btn {
        width: 200px;
        height: 60px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-right: 22px;
        margin-left: 14px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        transition: all 0.2s;
        cursor: pointer;
      }
      .btn:hover {
        background-color: @yellow;
        border: none;
      }
    }
    .social {
      margin-left: 237px;
      margin-top: 14px;
      .social-icon {
        width: 60px;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        margin-bottom: 17px;
        transition: border 0.2s;
        cursor: pointer;
      }
      .social-icon:hover {
        border: 1px solid @yellow;
      }
      .fb-icon {
        background: url("../img/header/fb-icon.png") no-repeat 50% 50%;
      }
      .tw-icon {
        background: url("../img/header/tw-icon.png") no-repeat 50% 50%;
      }
      .in-icon {
        background: url("../img/header/in-icon.png") no-repeat 50% 50%;
      }
    }

  } /* Header Main */

  .outline-btn {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    cursor: pointer;
    transition: border 0.2s;
    .scroll-down-btn {
      width: 40px;
      height: 40px;
      background: #ffffff url("../img/header/button-arrow.png") no-repeat 50% 50%;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  .outline-btn:hover {
    border: 1px solid @yellow;
  }
  .header-middle::before {
    content: "";
    width: 1px;
    height: 699px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -226px;
    left: -95px;
  }
  .header-middle::after {
    content: "";
    width: 1px;
    height: 699px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -226px;
    right: -84px;
  }
  .outline-btn::before {
    content: "";
    width: 1px;
    height: 454px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 61px;
    left: 29px;
  }
  .outline-btn::after {
    content: "";
    width: 1px;
    height: 82px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 61px;
    left: 29px;
  }
}/* Header */




 /* Main Block */

.main-block {
  height: 675px;
  .mini-logo {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-align: center;
    padding-top: 43px;
  }
  .main-block-info-left,
  .main-block-info-right {
    width: 600px;
    text-align: center;
    margin-top: 213px;
  }
  .main-block-info-right {
    margin-right: 21px;
  }
  .main-block-title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 29px;
    letter-spacing: 3px;
  }
  .main-block-pre-text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 19px;
  }
  .main-block-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .main-block-info-left,
  .main-block-border-element-left {
    float: left;
  }
  .main-block-info-right,
  .main-block-border-element-right {
    float: right;
  }
  .main-block-border-element-right,
  .main-block-border-element-left{
    width: 210px;
    height: 210px;
    border: 20px solid @yellow;
    border-radius: 5px;
    margin-top: 212px;
    position: relative;
    z-index: 100;
  }
  .main-block-border-element-right{
    .main-block-img {
      position: absolute;
      bottom: -182px;
      right: 54px;
      z-index: 0;
    }
  }
  .main-block-border-element-left{
    .main-block-img {
      position: absolute;
      bottom: -182px;
      left: 43px;
      z-index: 0;
    }
  }
}/* Main Block */
.main-block-second,
.main-block-fourth,
.main-block-sixth {
  color: rgba(255, 255, 255, 0.9);
  .main-block-info-right {
    margin-top: 157px;
  }
  .main-block-border-element-left {
    margin-top: 155px;
  }
}
.main-block-second {
  background-image: url("../img/main/master-chef-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-block-fourth {
  background-image: url("../img/main/specialty-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
